@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom components */
@layer components {
  .filters-btn {
    @apply border border-dark-brown px-4 py-2 text-xs font-mono tracking-widest;
  }

  .quick-view-btn {
    @apply text-xs font-mono uppercase border-b border-dark-brown;
  }

  .product-card {
    @apply transition hover:bg-white;
  }
}
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}